* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    height: 100vh;
    background: linear-gradient(#21b3e1, #fff);
    /* overflow: hidden;
    position: relative; */
}

.navbar {
    width: 100%;
    /* height: 60px; */
    border-bottom: 1px solid #b7e7f6;
}

nav {
    width: 80%;
    margin: 20px auto 0;
    position: sticky;
    display: flex;
    align-items: center;
    z-index: 2;
}

.logo {
    flex-basis: 15%;
}

.logo img {
    width: 100%;
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link ul li {
    display: inline-block;
    padding: 37px 5px;
    margin: 0 25px;
    position: relative;
    list-style-type: none;
}

.nav-link ul li a {
    text-decoration: none;
    color: #b7e7f6;
}

.nav-link ul li::after {
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link ul li:hover::after{
    background: #fff;
}

.active::after {
    background: #fff !important;
}

.menu-icon {
    flex-basis: 15%;
}

.menu-icon img {
    float: right;
    width: 35px;
}

.content {
    width: 300px;
    top: 125px;
    position: absolute;
    left: 50%;
    text-align: center;
    z-index: 2;
    transform: translateX(-50%);
}

.content img {
    width: 21px;
    margin: 0 10px;
    cursor: pointer;
}

.search-box {
    margin-top: 20px;
    display: flex;
    border: 1px solid #b7e7f6;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

.search-box input {
    width: 100%;
    padding: 7px 15px;
    border-radius: 30px;
    border: 0;
    outline: none;
    background: transparent;
    columns: #b7e7f6;
}

::placeholder {
    color: #b7e7f6;
}

#clouds {
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    animation: clouds 5s linear infinite;
}

@keyframes clouds {
    0% {
        top: -100px;
    }

    20% {
        top: 100px;
    }

    80% {
        top: 100px;
    }

    100% {
        top: -100px;
    }
}

#planes {
    width: 200px;
    position: absolute;
    top: 190px;
    left: -250px;
    z-index: 2;
    animation: fly 5s linear infinite;
}

@keyframes fly {
    0% {
        left: -250px;
    }

    20% {
        left: 250px;
    }

    80% {
        left: 250px;
    }

    100% {
        left: 110%;
    }
}

#hotairballoon {
    height: 400px;
    width: 700px;
    position: absolute;
    bottom: -450px;
    left: 60%;
    transform: translateX(-60%);
    animation: hotairballoon 5s linear infinite;
}

@keyframes hotairballoon {
    0% {
        bottom: -450px;
    }

    20% {
        bottom: 20px;
    }

    80% {
        bottom: 20px;
    }

    100% {
        bottom: -450px;
    }
}

.balloon1 {
    width: 100px;
    opacity: .4;
}

.balloon2 {
    width: 300px;
}

.balloon3 {
    width: 130px;
    opacity: .4;
}

#myImg {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}