@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

nav{
    font-family: 'ubuntu';
}

nav ul{
    display: flex;
    align-items: center;
    height: 65px;
    list-style-type: none;
    color: white;
    background-color: black;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 35px;
    padding: 0 8px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container
{
    width: 70%;
    display: flex;
    padding: 34px;
    color: white;
    min-height: 55vh;
    margin: 23px auto;
    border-radius: 12px;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url('bg.jpg');
    background-position: right center;
    font-family: 'Varela Round', 'sans-serif';
}

.bottom
{
    /* position: sticky; */
    height: 100px;
    bottom: 0;
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.icons
{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar
{
    width: 80vw;
    cursor: pointer;
}

.songListContainer{
    margin-top: 35px;
}

.songItem{
    height: 30px;
    display: flex;
    background-color: white;
    color: black;
    /* width: 70%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    border: 2px solid pink;
}

.songItem img{
    width: 30px;
    height: 28px;
    margin: 0px 18px;
    border-radius: 25px;
}


.timeStamp
{
    margin: 0 23px;
}

.songInfo{
    position: absolute;
    /* font-family: 'Varela Round'; */
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}